<div th:fragment="danhmuc" xmlns:th="http://www.thymeleaf.org">
    <div class="row no-guitters">
        <div class="col-sm-2">
            <a href="" class="nav-link btn btn-outline-danger active"><i class="fa fa-bars"></i> Danh Mục</a>
        </div>
        <div class="col-sm-2">
            <a class="nav-link" href="">Trang Chủ</a>
        </div>
        <div class="col-sm-3">
            <a class="nav-link" href="">Thanh Toán</a>
        </div>
        <div class="col-sm-3">
            <a class="nav-link" href="">Chính Sách Giao Hàng</a>
        </div>
        <div class="col-sm-2">
            <a class="nav-link" href="">Liên Hệ</a>
        </div>
    </div>
</div>