<div th:fragment="footer" xmlns:th="http://www.thymeleaf.org">
<!-- Footer -->
<footer class="page-footer font-small indigo bg-dark">

    <!-- Footer Links -->
    <div class="container text-center text-md-left text-muted">

        <!-- Grid row -->
        <div class="row">

            <!-- Grid column -->
            <div class="col-md-3 mx-auto">

                <!-- Links -->
                <h5 class="font-weight-bold text-uppercase mt-3 mb-4">PET SHOP</h5>

                <ul class="list-unstyled">
                    <li>
                        <a class="text-secondary" href="#"><b>Địa Chỉ: </b>106 Nguyễn Lương Bằng, P.Hòa Khánh Bắc,
                            Q.Liên Chiểu, TP.Đà
                            Nẵng</a>
                    </li>
                    <li>
                        <a class="text-secondary" href="#"><b>Điện Thoại: </b>0365843463</a>
                    </li>
                    <li>
                        <a class="text-secondary" href="#"><b>Email: </b>vanthan.ad.it@gmail.com</a>
                    </li>
                    <!-- <li>
          <a href="#!">Very long link 4</a>
        </li> -->
                </ul>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none">

            <!-- Grid column -->
            <div class="col-md-3 mx-auto">

                <!-- Links -->
                <h5 class="font-weight-bold text-uppercase mt-3 mb-4">HƯỚNG DẪN</h5>

                <ul class="list-unstyled">
                    <li>
                        <a class="text-secondary" href="#">Hướng Dẫn Đặt Hàng</a>
                    </li>
                    <li>
                        <a class="text-secondary" href="#">Hướng Dẫn Thanh Toán</a>
                    </li>
                    <!-- <li>
          <a href="#!">Link 3</a>
        </li>
        <li>
          <a href="#!">Link 4</a>
        </li> -->
                </ul>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none">

            <!-- Grid column -->
            <div class="col-md-3 mx-auto">

                <!-- Links -->
                <h5 class="font-weight-bold text-uppercase mt-3 mb-4">CHÍNH SÁCH</h5>

                <ul class="list-unstyled">
                    <li>
                        <a class="text-secondary" href="#">Chính Sách Bảo Hành</a>
                    </li>
                    <li>
                        <a class="text-secondary" href="#">Quy Định Đổi Trả Sản Phẩm</a>
                    </li>
                    <li>
                        <a class="text-secondary" href="#">Chính Sách Giao Hàng</a>
                    </li>
                    <!-- <li>
          <a href="#!">Link 4</a>
        </li> -->
                </ul>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none">

            <!-- Grid column -->
            <div class="col-md-3 mx-auto">

                <!-- Links -->
                <h5 class="font-weight-bold text-uppercase mt-3 mb-4">VỀ CHÚNG TÔI</h5>

                <ul class="list-unstyled">
                    <li>
                        <a class="text-secondary" href="#">Giới Thiệu</a>
                    </li>
                    <li>
                        <a class="text-secondary" href="#">Hệ Thống Đại Lý</a>
                    </li>
                    <li>
                        <a class="text-secondary" href="#">Liên Hệ</a>
                    </li>
                    <!-- <li>
          <a href="#!">Link 4</a>
        </li> -->
                </ul>

            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
        <a class="text-secondary" href="https://mdbootstrap.com/"> Trương Văn Thân</a>
    </div>
    <!-- Copyright -->
</footer>
</div>