<div th:fragment="header" xmlns:th="http://www.thymeleaf.org">
    <nav id="navbar" class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">


            <a class="logo navbar-brand" href="#">
                <img class="img-fluid" src="/images/logo.jpg" alt="logo">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <!-- form  search -->
                <form class="form-inline">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Tìm Kiếm..." aria-label="Username"
                               aria-describedby="basic-addon1">
                        <div class="input-group-prepend">
                            <span class="input-group-text fa fa-search" id="basic-addon1"></span>
                        </div>

                    </div>
                </form>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Hỗ Trợ Khách Hàng</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Giỏ Hàng</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Xin Chào Trương Văn Thân</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Đăng Xuất</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>