<div th:fragment="header" xmlns:th="http://www.thymeleaf.org"
     xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
>
    <nav id="header" class="navbar navbar-expand-lg navbar-light header">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
                    aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" th:href="@{/}">
                <img th:src="@{/images/logo.jpg}" alt="" class="logo">
            </a>

            <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                <form class="form-inline my-2 my-lg-0">
                    <input id="txtSearch" class="form-control mr-sm-2" type="search" placeholder="Nhập Từ Khóa ..."
                           aria-label="Search">
                    <button id="btnSearch" class="btn btn-outline-danger my-2 my-sm-0" type="submit">
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </button>
                </form>
                <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                    <li class="nav-item">
                        <!-- Chương Trình Khuyến Mãi -->
                        <a class="nav-link" th:href="@{/discounts}">
                            <div class="items">
                                <i class="fa fa-ticket" aria-hidden="true"></i>
                                <span>Chương Trình Khuyến Mãi</span>
                            </div>
                        </a>
                    </li>
<!--                 Nếu chưa có đăng nhập. hiển thị đăng nhập-->
                    <li class="nav-item" sec:authorize="isAnonymous()">
                        <a class="nav-link" th:href="@{/login}">
                            <div class="items">
                                <i class="fa fa-sign-in" aria-hidden="true"></i>
                                <span>Đăng Nhập</span>
                            </div>
                        </a>
                    </li>

<!--                    Trường hợp đã login vào hệ thông. hiện thị thông tin tên-->
                    <li class="nav-item form-info-user" sec:authorize="isAuthenticated()">
                        <!-- xin chào ... -->
                        <a class="nav-link" href="#">
                            <div class="items">
                                <i class="fa fa-user-circle" aria-hidden="true"></i>
                                <span class="">Xin Chào [[${#httpServletRequest.remoteUser}]]</span>
                            </div>
                        </a>

                        <div id="action-more">
                            <ul>
                                <li>
                                    <a href="" class="nav-link text-dark">Thông tin cá nhân</a>
                                </li>
                                <li>
                                    <form th:action="@{/logout}" method="POST" class="nav-link">
                                        <button type="submit" id="btnLogout">Đăng Xuât</button>
                                    </form>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item" sec:authorize="isAuthenticated()">
                        <!-- Kiểm tra đơn hàng -->
                        <a class="nav-link" href="#">
                            <div class="items">
                                <i class="fa fa-truck" aria-hidden="true"></i>
                                <span class="">Kiểm tra đơn hàng</span>
                            </div>
                        </a>
                    </li>
                    <li class="nav-item">
                        <!-- Giỏ Hàng -->
                        <a class="nav-link" th:href="@{/cart/index}" style="position: relative;">
                            <div class="items">
                                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                <span class="">Giỏ hàng</span>
                            </div>
<!--                            <span th:if="${session.containsKey('cart')}">-->
<!--                                    <span class="btn-danger btn btn-sm"-->
<!--                                          style="border-radius: 50%;-->
<!--                                          position: absolute;-->
<!--                                           top: 0;-->
<!--                                           right: 97px;font-size: 8px;" th:text="${session.cart.size()}"></span>-->
<!--                            </span>-->
                        </a>
                    </li>
                    <li class="nav-item" sec:authorize="hasAuthority('admin')">
<!--                                            <li class="nav-item">-->
                        <!-- ADMIN -->
                        <a class="nav-link" th:href="@{/admin/product/index}">
                            <div class="items">
                                <i class="fa fa-lock" aria-hidden="true"></i>
                                <span class="">ADMIN</span>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>