<div th:fragment="sidebar(tet)" xmlns:th="http://www.thymeleaf.org">
    <ul id="sidebar" class="nav flex-column bg-white">
        <li class="nav-item" th:each="c : ${tet}">
            <a class="nav-link" href="#" th:text="${c.getName()}"></a>
        </li>

<!--        <li class="nav-item">-->
<!--            <a class="nav-link" href="#">Chó Cảnh</a>-->
<!--        </li>-->

<!--        <li class="nav-item">-->
<!--            <a class="nav-link" href="#">Mèo Cảnh</a>-->
<!--        </li>-->

<!--        <li class="nav-item">-->
<!--            <a class="nav-link" href="#">Phụ Kiện</a>-->
<!--        </li>-->

<!--        <li class="nav-item">-->
<!--            <a class="nav-link" href="#">Thức Ăn</a>-->
<!--        </li>-->

<!--        <li class="nav-item">-->
<!--            <a class="nav-link" href="#">Rọ Mõm</a>-->
<!--        </li>-->

<!--        <li class="nav-item">-->
<!--            <a class="nav-link" href="#">Lồng</a>-->
<!--        </li>-->

<!--        <li class="nav-item">-->
<!--            <a class="nav-link" href="#">Quần Áo</a>-->
<!--        </li>-->

<!--        <li class="nav-item">-->
<!--            <a class="nav-link" href="#">Thuốc</a>-->
<!--        </li>-->
    </ul>
</div>