*{
    margin: 0;
    padding: 0;
}
body{
    background-color: var(--mautrang-dam);
}
:root{
    --mauden: #010101;
    --danger:#dc3545;
    --mautrang-dam: #F1F0F1;
    --mautrang-nhat: #FFFFFF;
}
/*begin header*/
#header{
    background-color: var(--mautrang-dam);
}
#header .nav-link .items i,span{
    color: var(--mauden);
    font-weight: 600;
}
#header img.logo{
    width: 115px;
    height: 57px;
    border-radius: 10px;
}
#header .row{
    display: flex;
    align-items: center;
}
#header #txtSearch{
    width: 180px;
}


#header .form-info-user{
    position: relative;
}

#header .form-info-user:hover #action-more{
    opacity: 1;
    visibility: visible;
}

#header #action-more{
    position: absolute;
    top: 56px;
    left: 0;
    opacity: 0;
    visibility: hidden;
    z-index: 1;
}
#action-more ::before{
    content: "";
    position: absolute;
    top: -21px;
    left: 63px;
    width: 7px;
    height: 8px;
    border: 11px solid rgba(0, 0, 0, 0);
    border-bottom-color: white;
}
#header #action-more ul{
    list-style: none;
    background-color:var(--mautrang-nhat);
}

#header #action-more ul li{
    transition: 0.4s;
}

#header #action-more ul li:hover{
    background-color: var(--danger);
}

#btnLogout{
    background-color: transparent;
    border: 0;
    cursor: pointer;
    display: inline;
    outline: none;
    text-decoration: none;
}
/*end custom css form-info-user*/


#header div.items{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 134px;
}
#header div.items i{
    width: 25%;
    font-size: 34px;
}
#header div.items span{
    width: 65%;
    font-size: 13px;
}
/*end header*/

/*begin sidebar*/
#sidebar{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
#sidebar a{
    text-decoration: none;
    transition: 0.2s;
    color: #343a40;
}

#sidebar a:hover{
    background-color: #dc3545;
    border-radius: 4px;
    color: white;
}
/*end sidebar*/

/*begin content*/
#content{
    min-height: 500px;
    width: 100%;
}

#content ul{
    width: 100%;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

#content .product{
    width: 230px;
    height: 343px;
    margin-bottom: 20px;
    margin-right: 16px;
}
#content .product .head{
    height: 70%;
    overflow: hidden;
    position: relative;
}

#content .product .head a{
    text-decoration: none;
}

#content .product .head img{
    width: 100%;
    height: 100%;
}
#content .product .head .dat-hang{
    width: 100%;
    height: 50px;
    line-height: 50px;
    position: absolute;
    bottom: -60px;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    transition: 0.4s;
}
#content .product .head .dat-hang span{
    color: var(--mautrang-nhat);
}

#content .product:hover .head .dat-hang{
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
}

#content .product .cart-info{
    position: relative;
}
#content .product .cart-info .discount{
    position: absolute;
    bottom: 13px;
    right: 10px;
    background: var(--danger);
    border-radius: 50%;
    padding: 13px;

}
#content .product .cart-info .price-discount{
    position: absolute;
    bottom: 1px;
    left: 19px;
    font-weight: bold;
    color: var(--danger);
}


