<!DOCTYPE html>
<html lang="en" dir="ltr"p xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>404 Error Page</title>
    <link rel="stylesheet" href="/css/403.css">
</head>
<body>
<div id="error-page">
    <div class="content">
        <h1 data-text="404">
            404
        </h1>
        <h4 data-text="Opps! Page not found">
            Không tìm thấy trang!
        </h4>
        <p>
            không thể tìm thấy trang này trên máy chủ
        </p>
        <div class="btns">
            <a th:href="@{/}">Quay lại trang chủ</a>
            <a href="https://www.google.com/">report problem</a>
        </div>
    </div>
</div>
</body>
</html>
