<!DOCTYPE html>
<html lang="en"  layout:decorate="~{fragments/main_layout}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Thêm Sản Phẩm Được Áp Dụng Khuyến Mãi</title>
</head>
<body>
    <div layout:fragment="content">
        <form th:action="@{'/admin/saveDiscountDetail/discountId=' + ${discountDetailDTO.getDiscount().getId()}}" th:object="${discountDetailDTO}" method="post">
            <table>
                <tr>
                    <td>Tên Sản Phẩm</td>
                    <td><label>
                        <select class="form-control" th:field="*{product}">
                            <option th:each="p: ${products}" th:value="${p.getId()}" th:utext="${p.getName()}"></option>
                        </select>
                    </label></td>
                </tr>
                <tr>
                    <td>Tỉ Lệ Khuyến Mãi</td>
                    <td><label><input type="text" class="form-control" th:field="*{rateDiscount}"></label></td>
                </tr>

                <tr>
                    <td colspan="2">
                        <a th:href="@{/admin/listDiscountDetail}" class="btn btn-secondary"><i class="fa fa-eraser" aria-hidden="true"></i></a>
                        <button type="submit" class="btn btn-info"><i class="fa fa-floppy-o" aria-hidden="true"></i></button>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</body>
</html>