<!DOCTYPE html>
<html lang="en" layout:decorate="~{fragments/main_layout}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Quản Lý Tài Khoản Người Dùng</title>
    <link rel="stylesheet" href="/css/productmanager.css">
</head>
<body>
<div layout:fragment="content">
    <!--    Danh Sách Người Dùng-->
    <div id="list-user">
        <h3 class="mona_title mt-3">quản lý người dùng</h3>

        <!--    Button Thêm mới Loại Hàng-->
        <div class="text-right">
            <a th:href="@{/admin/user/new}" class="btn btn-success">
                <span>Thêm người dùng</span>
                <i class="fa fa-plus" aria-hidden="true"></i>
            </a>
        </div>
        <div th:if="${message}" th:text="${message}" th:class="${class}"></div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">
                    <label class="username">Tên Đăng Nhập</label>
                </th>
                <th>
                    <label>Loại Tài Khoản</label>
                </th>
                <th scope="col">
                    <label class="fullname">Họ Tên</label>
                </th>
                <th scope="col" class="phone">
                    <label class="phone">SĐT</label>
                </th>
                <th scope="col">
                    <label class="address-of-delivery">Địa Chỉ</label>
                </th>
                <th scope="col">
                    <label class="status">Trạng Thái</label>
                </th>
                <th scope="col" class="text-center"><label class="my-action">Xem | Xóa</label></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${users}">
                <th scope="row">
                    <label class="username" th:title="${user.getUsername()}" th:text="${user.getUsername()}"></label>
                </th>
                <td><label th:text="${user.getRole().getName()}"></label></td>
                <td><label style="width: 100px;" th:title="${user.getFullName()}"
                           th:text="${user.getFullName()}"></label></td>
                <td><label style="width: 100px;" th:title="${user.getPhoneNumber()}"
                           th:text="${user.getPhoneNumber()}"></label></td>
                <td><label style="width: 100px;" th:title="${user.getAddress()}" th:text="${user.getAddress()}"></label>
                </td>
                <td><label style="width: 100px;" th:title="${user.getStatus()}" th:text="${user.getStatus()}"></label>
                </td>
                <td class="text-center">
                    <a th:href="@{'/admin/user/view/username=' + ${user.getUsername()}}" class="btn btn-outline-info"><i
                            class="fa fa-eye" aria-hidden="true"></i></a>
                    <a onclick="return confirm('Bạn có muốn xóa?');"
                       th:href="@{'/admin/user/delete/username='+${user.getUsername()}}" class="btn btn-outline-danger"><i
                            class="fa fa-trash-o" aria-hidden="true"></i></a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>