<!DOCTYPE html>
<html lang="en" layout:decorate="~{fragments/main_layout}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Thêm Loại Sản Phẩm</title>
</head>
<body>
    <div layout:fragment="content">
        <form th:action="@{/admin/category}" th:object="${category}" method="post">
            <table>
                <tr>
                    <td><label>Tên Loại Sản Phẩm</label></td>
                    <td><label><input type="text" class="form-control" th:field="*{name}" required></label></td>
                </tr>
                <tr>
                    <td>
                        <a onclick="return confirm('Bạn có muốn hủy?');" th:href="@{/admin/categories}" class="btn btn-primary">
                            <span class="mr-2">Hủy</span>
                            <i class="fa fa-trash-o" aria-hidden="true"></i>
                        </a>
                    </td>
                    <td>
                        <button type="submit" class="btn btn-success" onclick="return confirm('Bạn có muốn lưu?');">
                            <span class="mr-2">Lưu</span>
                            <i class="fa fa-floppy-o" aria-hidden="true"></i>
                        </button>
                    </td>
                </tr>
            </table>
        </form>

    </div>
</body>
</html>