<!DOCTYPE html>
<html lang="en" layout:decorate="~{fragments/main_layout}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Chỉnh Sửa Khuyến Mãi</title>
</head>
<body>
<div layout:fragment="content">
    <!--        Chỉnh Sửa Khuyến Mai-->
    <form th:action="@{/admin/discount}" th:object="${discount}" method="post">
        <table>
            <tr>
                <td><label>Mã Khuyến Mãi</label></td>
                <td><label><input readonly class="form-control" type="text" th:field="*{id}"></label></td>
            </tr>

            <tr>
                <td><label>Tên Đợt Khuyến Mãi</label></td>
                <td><label><input class="form-control" type="text" th:field="*{name}"></label></td>
            </tr>
            <tr>
                <td><label>Ngày Bắt Đầu</label></td>
                <td>
                    <label>
                        <input class="form-control" type="date" th:field="*{dateStart}">
                    </label>
                </td>
            </tr>
            <tr>
                <td><label>Ngày Kết Thúc</label></td>
                <td>
                    <label>
                        <input class="form-control" type="date" th:field="*{dateEnd}">
                    </label>
                </td>
            </tr>
            <tr>
                <td><label>Ghi Chú</label></td>
                <td><label><input class="form-control" type="text" th:field="*{note}"></label></td>
            </tr>
            <tr>
                <td>
                    <a onclick="return confirm('Bạn có muốn hủy?');" th:href="@{/admin/discount/index}" class="btn btn-primary">
                        <span class="mr-2">Hủy</span>
                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                    </a>
                </td>
                <td>
                    <button type="submit" class="btn btn-success">
                        <span class="mr-2">Lưu</span>
                        <i class="fa fa-floppy-o" aria-hidden="true"></i>
                    </button>
                </td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>