<!DOCTYPE html>
<html lang="en" layout:decorate="~{fragments/main_layout}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Quản Lý Tài Khoản Người Dùng</title>
    <link rel="stylesheet" href="/css/productmanager.css">
</head>
<body>
<div layout:fragment="content">
    <!--    Danh Sách Người Dùng-->
    <div id="list-user">
        <h3 class="mona_title mt-3">quản lý người dùng</h3>

        <!--    Button Thêm mới Loại Hàng-->
        <div class="text-right">
            <a th:href="@{/admin/user/new}" class="btn btn-success">
                <span>Thêm người dùng</span>
                <i class="fa fa-plus" aria-hidden="true"></i>
            </a>
        </div>
        <div th:if="${message}" th:text="${message}" th:class="${class}"></div>

        <div class="lead text-danger font-weight-bold"><i class="fa fa-list" aria-hidden="true"></i>
            Danh sách người dùng hoạt động </div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">
                    <label>Tên Đăng Nhập</label>
                </th>
                <th>
                    <label>Loại Tài Khoản</label>
                </th>
                <th scope="col">
                    <label>Họ Tên</label>
                </th>
                <th scope="col" class="phone">
                    <label>SĐT</label>
                </th>
                <th scope="col">
                    <label>Địa Chỉ</label>
                </th>
                <th scope="col" class="text-center"><label>Hành động</label></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${users}" th:if="${user.getEnable()==2}">
                <th scope="row">
                    <label class="username" th:title="${user.getUsername()}" th:text="${user.getUsername()}"></label>
                </th>
                <td><label style="width: 100px;" th:text="${user.getRole().getName()}"></label></td>
                <td><label style="width: 133px;" th:title="${user.getFullName()}"
                           th:text="${user.getFullName()}"></label></td>
                <td><label style="width: 100px;" th:title="${user.getPhoneNumber()}"
                           th:text="${user.getPhoneNumber()}"></label></td>
                <td><label style="width: 160px;" th:title="${user.getAddress()}" th:text="${user.getAddress()}"></label>
                <td class="text-center">
                    <a title="Xem thông tin chi tiết" th:href="@{'/admin/user/view/username=' + ${user.getUsername()}}" class="btn btn-outline-info"><i
                            class="fa fa-eye" aria-hidden="true"></i></a>
                    <a title="Khóa tài khoản" onclick="return confirm('Bạn có muốn khóa tài khoản người dùng?');"
                       th:href="@{'/admin/user/lock/username='+${user.getUsername()}}" class="btn btn-outline-danger">
                        <i class="fa fa-lock" aria-hidden="true"></i>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="lead text-danger font-weight-bold"><i class="fa fa-list" aria-hidden="true"></i>
            Danh sách người dùng bị khóa</div>

        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">
                    <label class="username">Tên Đăng Nhập</label>
                </th>
                <th>
                    <label>Loại Tài Khoản</label>
                </th>
                <th scope="col">
                    <label class="fullname">Họ Tên</label>
                </th>
                <th scope="col" class="phone">
                    <label class="phone">SĐT</label>
                </th>
                <th scope="col">
                    <label class="address-of-delivery">Địa Chỉ</label>
                </th>
                <th scope="col" class="text-center"><label class="my-action">Hành động</label></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${users}" th:if="${user.getEnable()==1}">
                <th scope="row">
                    <label class="username" th:title="${user.getUsername()}" th:text="${user.getUsername()}"></label>
                </th>
                <td><label th:text="${user.getRole().getName()}"></label></td>
                <td><label style="width: 133px;" th:title="${user.getFullName()}"
                           th:text="${user.getFullName()}"></label></td>
                <td><label style="width: 100px;" th:title="${user.getPhoneNumber()}"
                           th:text="${user.getPhoneNumber()}"></label></td>
                <td><label style="width: 160px;" th:title="${user.getAddress()}" th:text="${user.getAddress()}"></label>
                <td class="text-center">
                    <a title="Xem thông tin chi tiết" th:href="@{'/admin/user/view/username=' + ${user.getUsername()}}" class="btn btn-outline-info"><i
                            class="fa fa-eye" aria-hidden="true"></i></a>
                    <a title="Mở khóa tài khoản" onclick="return confirm('Bạn có muốn mở khóa tài khỏa người dùng?');"
                       th:href="@{'/admin/user/unlock/username='+${user.getUsername()}}" class="btn btn-outline-danger">
                        <i class="fa fa-unlock-alt" aria-hidden="true"></i>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>