<!DOCTYPE html>
<html lang="en" layout:decorate="~{fragments/main_layout}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Danh Sách</title>
</head>
<body>
<div layout:fragment="content">
    <table class="table table-bordered mt-3">
        <thead>
        <tr class="lead">
            <th><label>Tên sản phẩm</label></th>
            <th><label>Giá</label></th>
            <th><label>Số lượng</label></th>
        </tr>
        </thead>
        <tbody>
        <tr class="lead" th:each="detail : ${billDetails}">
            <td><label th:text="${detail.getProduct().getName()}"></label></td>
            <td><label th:text="${#numbers.formatDecimal(detail.getPrice(),0,'COMMA',0,'POINT') + ' đ'}"></label></td>
            <td><label th:text="${detail.getQuantity()}"></label></td>
        </tr>
        <tr>
            <td class="text-center lead" colspan="3">Tổng tiền:
                <label th:text="${#numbers.formatDecimal(total,0,'COMMA',0,'POINT') + ' đ'}"
                       class="font-weight-bold text-danger"></label>
            </td>
        </tr>
        </tbody>
    </table>

    <form th:action="@{/admin/bill}" th:object="${bill}" method="post">
        <div class="row">
            <input type="hidden" th:field="*{id}">
        </div>
        <div class="row container" th:each="status : ${billStatus}">
            <div class="form-check">
                <label class="form-check-label lead">
                    <input class="form-check-input" type="radio" th:field="*{billStatus}" th:value="${status.getId()}"
                           th:text="${status.getStatus()}">
                </label>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <button type="submit" class="btn btn-danger mb-2 mt-2">Cập Nhật</button>
            </div>
        </div>
    </form>
</div>
</body>
</html>