<!DOCTYPE html>
<html lang="en" layout:decorate="~{fragments/main_layout}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Danh Sách Sản Phẩm Theo Loại Khuyến Mãi</title>
</head>
<body>
<div layout:fragment="content">
    <!--    Button Thêm mới Sản Phẩm-->
    <div class="text-right">
        <a th:href="@{/admin/discountDetail/new}" class="btn btn-success">
            <span>Thêm Sản Phẩm</span>
            <i class="fa fa-plus" aria-hidden="true"></i>
        </a>
    </div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col"><label>STT</label></th>
            <th scope="col"><label>Sản Phẩm</label></th>
            <th scope="col"><label>Tên Sản Phẩm</label></th>
            <th scope="col"><label>Giá Niêm Yết</label></th>
            <th scope="col"><label>Tỉ Lệ KM</label></th>
            <th scope="col"><label>Giá Khuyến Mãi</label></th>
            <th scope="col" class="text-center"><label>Sửa|Xóa</label></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="discountdetail, stt : ${discountDetails}">
<!--             số thứ tự-->
            <th scope="row"><label class="index" th:text="${stt.index+1}"></label></th>
<!--            hình ảnh-->
            <td>
                <img style="width:132px;height: 153px;border-radius: 5px"
                     th:src="@{'/images/'+${discountdetail.getProduct().getImagePath()}}">
            </td>
<!--            tên sản phẩm-->
            <td><label th:text="${discountdetail.getProduct().getName()}"></label></td>
<!--            giá niêm yết-->
            <td><label
                       th:text="${#numbers.formatDecimal(discountdetail.getProduct().getPrice(),0,'COMMA',0,'POINT')} + ' VNĐ'"></label>
            </td>
<!--            tỷ lệ khuyến mãi-->
            <td><label th:text="${#numbers.formatDecimal(discountdetail.getRateDiscount() * 100 ,0,'COMMA',0,'POINT') + ' %'}"></label></td>
<!--            // giá khuyến mãi-->
            <td><label style="color:#dc3545;font-weight: bold"
                       th:text="${#numbers.formatDecimal(discountdetail.getProduct().getPrice() *(1 - discountdetail.getRateDiscount()),0,'COMMA',0,'POINT') + ' VNĐ'}"></label>
            </td>
            <!--                <td><label style="color:#dc3545;font-weight: bold"  th:text="${#numbers.formatDecimal(product.getPrice(),0,'COMMA',0,'POINT') + ' VNĐ'}"></label></td>-->
            <td class="text-center">
                <a th:href="@{'/admin/product/edit/productId='+ ${discountdetail.getProduct().getId()}}"
                   class="btn btn-outline-info"><i
                        class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                <a th:href="@{'/admin/product/delete/productId='+ ${discountdetail.getProduct().getId()}}"
                   onclick="return confirm('Bạn Có Chắc Chắn Muốn Xóa?');" class="btn btn-outline-danger"><i
                        class="fa fa-trash-o" aria-hidden="true"></i></a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>