<!DOCTYPE html >
<html lang="en" layout:decorate="~{fragments/main_layout}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Quản lý hóa đơn</title>
</head>
<body>
<div layout:fragment="content">
    <h3 class="mona_title mt-3">Quản Lý Đơn hàng</h3>
    <div th:if="${message}" th:text="${message}" class="alert alert-success"></div>
    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
<!--        tất cả-->
        <li class="nav-item">
            <a class="btn btn-outline-danger active font-weight-bold" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Tất cả</a>
        </li>
<!--        đơn hàng chờ xác nhận-->
        <li class="nav-item">
            <a class="ml-3 btn btn-outline-danger font-weight-bold" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Đơn chờ xác nhận</a>
        </li>
<!--        đơn hàng đã xác nhận-->
        <li class="nav-item">
            <a class="ml-3 btn btn-outline-danger font-weight-bold" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">Đơn đã xác nhận</a>
        </li>

<!--        đơn hàng đang giao-->
        <li class="nav-item">
            <a class="ml-3 btn btn-outline-danger font-weight-bold" id="pills-danggiao-tab" data-toggle="pill" href="#pills-danggiao" role="tab" aria-controls="pills-danggiao" aria-selected="false">Đơn đang giao</a>
        </li>

<!--        đơn hàng đã giao-->
        <li class="nav-item">
            <a class="ml-3 btn btn-outline-danger font-weight-bold" id="pills-dagiao-tab" data-toggle="pill" href="#pills-dagiao" role="tab" aria-controls="pills-dagiao" aria-selected="false">Đơn đã giao</a>
        </li>
<!--        đơn hàng đã hủy-->

        <li class="nav-item">
            <a class="ml-3 btn btn-outline-danger font-weight-bold" id="pills-dahuy-tab" data-toggle="pill" href="#pills-dahuy" role="tab" aria-controls="pills-dahuy" aria-selected="false">Đơn đã hủy</a>
        </li>
    </ul>
    <div class="tab-content" id="pills-tabContent">
<!--        tất cả -->
        <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col"><label>Mã đơn</label></th>
                    <th scope="col"><label>Mã KH</label></th>
                    <th scope="col"><label>Tên KH</label></th>
                    <th scope="col"><label>Ngày Đăt Hàng</label></th>
                    <th scope="col"><label>Ghi chú</label></th>
                    <th scope="col"><label>Trạng thái</label></th>
                    <th scope="col"><label>Tổng tiền</label></th>
                    <th scope="col"><label>Hàng động</label></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="bill : ${bills}">
                    <th scope="col"><label th:text="${bill.getId()}"></label></th>
                    <td><label th:text="${bill.getUser().getUsername()}"></label></td>
                    <td><label th:text="${bill.getUser().getFullName()}"></label></td>
                    <td><label th:text="${#calendars.format(bill.getCreatedAt(),'dd/MM/yyyy HH:mm:ss')}"></label></td>
                    <td><label th:text="${bill.getNote()}"></label></td>
                    <td><label th:text="${bill.getBillStatus().getStatus()}"></label></td>
                    <td><label class="font-weight-bold text-danger" th:text="${#numbers.formatDecimal(bill.getTotal(),0,'COMMA',0,'POINT') + ' đ'}"></label></td>
                    <td>
                        <a title="Xem thông tin chi tiết đơn hàng" th:href="@{'/admin/billDetail/index/billId=' + ${bill.getId()}}" class="btn btn-outline-primary">
                            <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td colspan="6" class=" text-right">
                        <label class="lead">Tổng cộng</label>
                    </td>
                    <td colspan="2">
                        <label class="font-weight-bold text-danger" th:text="${#numbers.formatDecimal(sumAll,0,'COMMA',0,'POINT') + ' đ'}"></label>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
<!--        đơn hàng chờ xác nhận-->
        <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col"><label>Mã đơn</label></th>
                    <th scope="col"><label>Mã KH</label></th>
                    <th scope="col"><label>Tên KH</label></th>
                    <th scope="col"><label>Ngày Đăt Hàng</label></th>
                    <th scope="col"><label>Ghi chú</label></th>
                    <th scope="col"><label>Trạng thái</label></th>
                    <th scope="col"><label>Tổng tiền</label></th>
                    <th scope="col"><label>Hàng động</label></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="bill : ${bills1}">
                    <th scope="col"><label th:text="${bill.getId()}"></label></th>
                    <td><label th:text="${bill.getUser().getUsername()}"></label></td>
                    <td><label th:text="${bill.getUser().getFullName()}"></label></td>
                    <td><label th:text="${#calendars.format(bill.getCreatedAt(),'dd/MM/yyyy HH:mm:ss')}"></label></td>
                    <td><label th:text="${bill.getNote()}"></label></td>
                    <td><label th:text="${bill.getBillStatus().getStatus()}"></label></td>
                    <td><label class="font-weight-bold text-danger" th:text="${#numbers.formatDecimal(bill.getTotal(),0,'COMMA',0,'POINT') + ' đ'}"></label></td>
                    <td>
                        <a title="Xem thông tin chi tiết đơn hàng" th:href="@{'/admin/billDetail/index/billId=' + ${bill.getId()}}" class="btn btn-outline-primary">
                            <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td colspan="6" class=" text-right">
                        <label class="lead">Tổng cộng</label>
                    </td>
                    <td colspan="2">
                        <label class="font-weight-bold text-danger" th:text="${#numbers.formatDecimal(sum1,0,'COMMA',0,'POINT') + ' đ'}"></label>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
<!--        đơn hàng đã xác nhận-->
        <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col"><label>Mã đơn</label></th>
                    <th scope="col"><label>Mã KH</label></th>
                    <th scope="col"><label>Tên KH</label></th>
                    <th scope="col"><label>Ngày Đăt Hàng</label></th>
                    <th scope="col"><label>Ghi chú</label></th>
                    <th scope="col"><label>Trạng thái</label></th>
                    <th scope="col"><label>Tổng tiền</label></th>
                    <th scope="col"><label>Hàng động</label></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="bill : ${bills2}">
                    <th scope="col"><label th:text="${bill.getId()}"></label></th>
                    <td><label th:text="${bill.getUser().getUsername()}"></label></td>
                    <td><label th:text="${bill.getUser().getFullName()}"></label></td>
                    <td><label th:text="${#calendars.format(bill.getCreatedAt(),'dd/MM/yyyy HH:mm:ss')}"></label></td>
                    <td><label th:text="${bill.getNote()}"></label></td>
                    <td><label th:text="${bill.getBillStatus().getStatus()}"></label></td>
                    <td><label class="font-weight-bold text-danger" th:text="${#numbers.formatDecimal(bill.getTotal(),0,'COMMA',0,'POINT') + ' đ'}"></label></td>
                    <td>
                        <a title="Xem thông tin chi tiết đơn hàng" th:href="@{'/admin/billDetail/index/billId=' + ${bill.getId()}}" class="btn btn-outline-primary">
                            <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td colspan="6" class=" text-right">
                        <label class="lead">Tổng cộng</label>
                    </td>
                    <td colspan="2">
                        <label class="font-weight-bold text-danger" th:text="${#numbers.formatDecimal(sum2,0,'COMMA',0,'POINT') + ' đ'}"></label>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
<!--        đơn hàng đang giao-->
        <div class="tab-pane fade" id="pills-danggiao" role="tabpanel" aria-labelledby="pills-contact-tab">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col"><label>Mã đơn</label></th>
                    <th scope="col"><label>Mã KH</label></th>
                    <th scope="col"><label>Tên KH</label></th>
                    <th scope="col"><label>Ngày Đăt Hàng</label></th>
                    <th scope="col"><label>Ghi chú</label></th>
                    <th scope="col"><label>Trạng thái</label></th>
                    <th scope="col"><label>Tổng tiền</label></th>
                    <th scope="col"><label>Hàng động</label></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="bill : ${bills3}">
                    <th scope="col"><label th:text="${bill.getId()}"></label></th>
                    <td><label th:text="${bill.getUser().getUsername()}"></label></td>
                    <td><label th:text="${bill.getUser().getFullName()}"></label></td>
                    <td><label th:text="${#calendars.format(bill.getCreatedAt(),'dd/MM/yyyy HH:mm:ss')}"></label></td>
                    <td><label th:text="${bill.getNote()}"></label></td>
                    <td><label th:text="${bill.getBillStatus().getStatus()}"></label></td>
                    <td><label class="font-weight-bold text-danger" th:text="${#numbers.formatDecimal(bill.getTotal(),0,'COMMA',0,'POINT') + ' đ'}"></label></td>
                    <td>
                        <a title="Xem thông tin chi tiết đơn hàng" th:href="@{'/admin/billDetail/index/billId=' + ${bill.getId()}}" class="btn btn-outline-primary">
                            <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td colspan="6" class=" text-right">
                        <label class="lead">Tổng cộng</label>
                    </td>
                    <td colspan="2">
                        <label class="font-weight-bold text-danger" th:text="${#numbers.formatDecimal(sum3,0,'COMMA',0,'POINT') + ' đ'}"></label>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
<!--        đơn hàng đã giao-->
        <div class="tab-pane fade" id="pills-dagiao" role="tabpanel" aria-labelledby="pills-contact-tab">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col"><label>Mã đơn</label></th>
                    <th scope="col"><label>Mã KH</label></th>
                    <th scope="col"><label>Tên KH</label></th>
                    <th scope="col"><label>Ngày Đăt Hàng</label></th>
                    <th scope="col"><label>Ghi chú</label></th>
                    <th scope="col"><label>Trạng thái</label></th>
                    <th scope="col"><label>Tổng tiền</label></th>
                    <th scope="col"><label>Hàng động</label></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="bill : ${bills4}">
                    <th scope="col"><label th:text="${bill.getId()}"></label></th>
                    <td><label th:text="${bill.getUser().getUsername()}"></label></td>
                    <td><label th:text="${bill.getUser().getFullName()}"></label></td>
                    <td><label th:text="${#calendars.format(bill.getCreatedAt(),'dd/MM/yyyy HH:mm:ss')}"></label></td>
                    <td><label th:text="${bill.getNote()}"></label></td>
                    <td><label th:text="${bill.getBillStatus().getStatus()}"></label></td>
                    <td><label class="font-weight-bold text-danger" th:text="${#numbers.formatDecimal(bill.getTotal(),0,'COMMA',0,'POINT') + ' đ'}"></label></td>
                    <td>
                        <a title="Xem thông tin chi tiết đơn hàng" th:href="@{'/admin/billDetail/index/billId=' + ${bill.getId()}}" class="btn btn-outline-primary">
                            <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td colspan="6" class="text-right">
                        <label class="lead">Tổng cộng</label>
                    </td>
                    <td colspan="2">
                        <label class="font-weight-bold text-danger" th:text="${#numbers.formatDecimal(sum4,0,'COMMA',0,'POINT') + ' đ'}"></label>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
<!--        đơn hàng đã hủy-->
        <div class="tab-pane fade" id="pills-dahuy" role="tabpanel" aria-labelledby="pills-contact-tab">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col"><label>Mã đơn</label></th>
                    <th scope="col"><label>Mã KH</label></th>
                    <th scope="col"><label>Tên KH</label></th>
                    <th scope="col"><label>Ngày Đăt Hàng</label></th>
                    <th scope="col"><label>Ghi chú</label></th>
                    <th scope="col"><label>Trạng thái</label></th>
                    <th scope="col"><label>Tổng tiền</label></th>
                    <th scope="col"><label>Hàng động</label></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="bill : ${bills5}">
                    <th scope="col"><label th:text="${bill.getId()}"></label></th>
                    <td><label th:text="${bill.getUser().getUsername()}"></label></td>
                    <td><label th:text="${bill.getUser().getFullName()}"></label></td>
                    <td><label th:text="${#calendars.format(bill.getCreatedAt(),'dd/MM/yyyy HH:mm:ss')}"></label></td>
                    <td><label th:text="${bill.getNote()}"></label></td>
                    <td><label th:text="${bill.getBillStatus().getStatus()}"></label></td>
                    <td><label class="font-weight-bold text-danger" th:text="${#numbers.formatDecimal(bill.getTotal(),0,'COMMA',0,'POINT') + ' đ'}"></label></td>
                    <td>
                        <a title="Xem thông tin chi tiết đơn hàng" th:href="@{'/admin/billDetail/index/billId=' + ${bill.getId()}}" class="btn btn-outline-primary">
                            <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td colspan="6" class="text-right">
                        <label class="lead">Tổng cộng</label>
                    </td>
                    <td colspan="2">
                        <label class="font-weight-bold text-danger" th:text="${#numbers.formatDecimal(sum5,0,'COMMA',0,'POINT') + ' đ'}"></label>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>