<!DOCTYPE html>
<html lang="en" layout:decorate="~{fragments/App_Main_Layout}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Danh Sách Sản Phẩm Theo Loại</title>

</head>
<body>
<div layout:fragment="content">
    <div id="content">
        <hr>
        <h2 class="mona_title" th:text="${title}"></h2>

        <div th:unless="${products.size()}">
            <span class="lead">Danh sách trống. Vui lòng quay lại sau!</span>
            <i class="fa fa-refresh fa-spin fa-3x fa-fw"></i>

        </div>
        <div th:if="${products.size()}">
            <div class="container">
                <div class="row">
                    <div class="col-sm-3 col-6 pt-4" th:each="product : ${products}">
                        <div class="my_card shadow">
                            <div class="card-header">
                                <a th:href="@{'/product/id=' + ${product.getId()}}" class="card-a-img">
                                    <img th:src="@{'/images/' + ${product.getImagePath()}}" alt="" class="card-img">
                                </a>
                                <a th:href="@{'/cart/buy/productId=' + ${product.getId()}}" class="add-to-card btn btn-outline-danger">
                                    <i class="fa fa-cart-plus" aria-hidden="true"></i>
                                </a>
                            </div>
                            <div class="body text-center">
                                <p class="text-muted category pt-2" th:text="${product.getCategory().getName()}"></p>
                                <a th:href="@{'/product/id=' + ${product.getId()}}" class="font-weight-light name" th:text="${product.getName()}"></a>
                                <!-- kiểm tra khuyến mãi -->

                                <!--                        Trường hợp sản phẩm có khuyến mãi-->
                                <div th:if="${product.getPromotionPrice()}">
                                    <small><s class="unitPrice" th:text="${#numbers.formatDecimal(product.getUnitPrice(),0,'COMMA',0,'POINT') + ' đ'}"></s></small>
                                    <span class="promotionPrice text-danger" th:text="${#numbers.formatDecimal(product.getPromotionPrice(),0,'COMMA',0,'POINT') + ' đ'}"></span>
                                    <div class="saleoff">
                                        <span th:text="${'-' + #numbers.formatDecimal((1 - (product.getPromotionPrice()*1.0 / product.getUnitPrice())) * 100,0,'COMMA',0,'POINT') + '%'}"></span>
                                    </div>
                                </div>

                                <!--                         Trường hợp sản phẩm không có khuyến mãi-->
                                <div th:unless="${product.getPromotionPrice()}">
                                    <span class="unitPrice text-danger" th:text="${#numbers.formatDecimal(product.getUnitPrice(),0,'COMMA',0,'POINT') + ' đ'}"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
</div>
</body>
</html>