<!DOCTYPE html>
<html lang="en" layout:decorate="~{fragments/App_index_layout}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>PET SHOP</title>
</head>
<body>
<div layout:fragment="content">
    <div id="content">
            <ul>
                <li th:each="product : ${products}">
                    <div class="card product">
                        <div class="head">
                            <a th:href="@{'/product/id=' + ${product.getId()}}">
                                <img th:src="@{'/images/' + ${product.getImagePath()}}"
                                     th:alt="${product.getImagePath()}">
                                <div class="dat-hang">
                                    <span class="card-text">Click để xem chi tiết</span>
                                    <a class="btn btn-secondary btn-sm" href="#">Đặt Hàng</a>
                                </div>
                            </a>
                        </div>
                        <div class="card-body">
                            <div th:if="${product.discountDetails.size() > 0}">
                                <h5 class="card-title"
                                    th:text="${product.discountDetails.iterator().next().getRateDiscount()}"></h5>
                            </div>
                            <h5 class="card-title" th:text="${product.getName()}"></h5>
                            <p class="card-text text-danger"><b
                                    th:text="${#numbers.formatDecimal(product.getPrice(),0,'COMMA',0,'POINT') + ' VNĐ'}"></b>
                            </p>
                        </div>
                    </div>
                </li>
            </ul>
    </div>
</div>
</body>
</html>