<!DOCTYPE html>
<html lang="en" layout:decorate="~{fragments/App_Main_Layout}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Thông tin ngươi dùng</title>
</head>
<body>
<div layout:fragment="content" class="container justify-content-center">
    <div class="jumbotron">
        <h1 class="display-4 text-center" th:if="${action.compareTo('view') == 0}">Xem thông tin</h1>
        <h1 class="display-4 text-center" th:if="${action.compareTo('edit') == 0}">Chỉnh sửa thông tin</h1>
        <h1 class="display-4 text-center" th:if="${action.compareTo('changePassword') == 0}">Thay đổi mật khẩu</h1>
        <!--        nếu hành động truyền vào là view-->
        <th:block th:if="${action.compareTo('view') == 0}">

            <div class="row justify-content-center">
                <div th:if="${message}" th:text="${message}" th:class="${class}"></div>
            </div>
            <div class="row justify-content-center mt-3">
                <div class="col-sm-2 col-5 lead">Tên:</div>
                <div class="col-sm-6 col-7 lead"
                     th:text="${user.getFullName()}"
                ></div>
            </div>
            <div class="row justify-content-center mt-3">
                <div class="col-sm-2 col-4 lead">Tên người dùng:</div>
                <div class="col-sm-6 col-8 lead" th:text="${user.getUsername()}"></div>
            </div>

            <div class="row justify-content-center mt-3">
                <div class="col-sm-2 col-4 lead">Địa chỉ:</div>
                <div class="col-sm-6 col-8 lead" th:text="${user.getAddress()}"></div>
            </div>
            <div class="row justify-content-center mt-3">
                <div class="col-sm-2 col-3 lead">Liên hệ:</div>
                <div class="col-sm-6 col-9 lead"
                     th:text="${'0' + #numbers.formatDecimal(user.getPhoneNumber(),0,'DEFAULT',0,'POINT')}"></div>
            </div>
            <hr class="my-4">
        </th:block>

        <!--trường hợp yêu cầu truyền vào là form chỉnh sửa-->
        <th:block th:if="${action.compareTo('edit') == 0}">
            <form th:action="@{'/user/info?action=edit'}" method="post" th:object="${user}">
                <div class="row justify-content-center">
                    <div th:if="${message}" th:text="${message}" th:class="${class}"></div>
                </div>
                <div class="row justify-content-center mt-3">

                    <div class="col-sm-2 col-5 lead">Tên:</div>
                    <div class="col-sm-6 col-7 lead">
                        <input class="form-control" type="text" th:field="*{fullName}" required>
                        <input type="hidden" th:field="*{role}">
                        <input type="hidden" th:field="*{enable}">
                    </div>
                </div>
                <div class="row justify-content-center mt-3">
                    <div class="col-sm-2 col-4 lead">Tên người dùng:</div>
                    <div class="col-sm-6 col-8 lead">
                        <input class="form-control text-dark" type="text" th:field="*{username}" readonly>
                    </div>
                </div>

                <div class="row justify-content-center mt-3">
                    <div class="col-sm-2 col-4 lead">Địa chỉ:</div>
                    <div class="col-sm-6 col-8">
                        <textarea class="form-control text-dark" cols="30" rows="3" th:field="*{address}"
                                  required
                        >
                        </textarea>
                    </div>
                </div>
                <div class="row justify-content-center mt-3">
                    <div class="col-sm-2 col-3 lead">Liên hệ:</div>
                    <div class="col-sm-6 col-9">
                        <input type="text" class="form-control" th:field="*{phoneNumber}" required
                               maxlength="10" pattern="[0]{1}[0-9]{9}" title="Số điện thoại phải bắt đầu bằng 0 và gồm 10 ký tự"
                        >
                    </div>
                </div>
                <div class="row justify-content-center mt-3">
                    <div class="col-sm-2 col-3 lead">Xác nhận mật khẩu:</div>
                    <div class="col-sm-6 col-9 lead">
                        <input type="password" class="form-control" th:field="*{password}" required>
                    </div>
                </div>
                <div class="row justify-content-center mt-3">
                    <a th:href="@{'/user/info?action=view'}" class="btn btn-outline-secondary mr-3">
                        <i class="fa fa-arrow-circle-o-left" aria-hidden="true"></i>
                        Quay lại
                    </a>
                    <button type="submit" class="btn btn-info">
                        <i class="fa fa-check-circle-o" aria-hidden="true"></i>
                        Xác nhận
                    </button>
                </div>
            </form>
        </th:block>

        <!--Trường hợp yêu cầu truyền vào là thay đổi mật khẩu-->
        <th:block th:if="${action.equalsIgnoreCase('changePassword')}" >
            <form th:action="@{'/user/info?action=changePassword'}"
                  th:object="${userTemp}"
                  method="post"
                  onsubmit=" return checkPassword();"
            >
                <div class="row justify-content-center">
                    <div th:if="${message}" th:text="${message}" th:class="${class}"></div>
                </div>

                <div class="row justify-content-center mt-3">
                    <div class="col-sm-4 col-3 lead">Nhập mật khẩu hiện tại:</div>
                    <div class="col-sm-6 col-9 lead">
                        <input type="password" class="form-control" th:field="*{presentPassword}" required>
                    </div>
                </div>

                <div class="row justify-content-center mt-3">
                    <div class="col-sm-4 col-3 lead">Nhập mật khẩu mới:</div>
                    <div class="col-sm-6 col-9 lead">
                        <input type="password" id="pass1" class="form-control" th:field="*{newPassword}" required>
                    </div>
                </div>
                <div class="row justify-content-center mt-3">
                    <div class="col-sm-4 col-3 lead">Xác nhận mật khẩu mới:</div>
                    <div class="col-sm-6 col-9 lead">
                        <input type="password" id="pass2" class="form-control" th:field="*{newPasswordConfirm}" required>
                    </div>
                </div>
                <div class="row justify-content-center mt-3">
                    <a th:href="@{'/user/info?action=view'}" class="btn btn-outline-secondary mr-3">
                        <i class="fa fa-arrow-circle-o-left" aria-hidden="true"></i>
                        Quay lại
                    </a>
                    <button type="submit" class="btn btn-info">
                        <i class="fa fa-check-circle-o" aria-hidden="true"></i>
                        Xác nhận
                    </button>
                </div>
            </form>
        </th:block>
        <div class="form-inline row justify-content-center" th:if="${action.equalsIgnoreCase('view')}">
            <hr class="my-4">
            <form th:action="@{/user/info}" class="mr-2">
                <input type="hidden" name="action" value="edit">
                <button type="submit" class="btn btn-outline-primary">
                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                    Sửa thông tin
                </button>
            </form>
            <form th:action="@{/user/info}">
                <input type="hidden" name="action" value="changePassword">
                <button type="submit" class="btn btn-outline-danger">
                    <i class="fa fa-key" aria-hidden="true"></i>
                    Đổi mật khẩu
                </button>
            </form>
        </div>
    </div>
    <script type="text/javascript">
        function checkPassword() {
            const firstPassword = document.getElementById("pass1").value;
            const secondPassword = document.getElementById("pass2").value;

            if (firstPassword !== secondPassword){
                alert('Mật khẩu không trùng khớp.\nVui lòng nhập lại');
                return false;
            }
            return true;
        }
    </script>
</div>

</body>
</html>