<!DOCTYPE html>
<html lang="en" layout:decorate="~{fragments/App_Main_Layout}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cart</title>
</head>
<body>
<div layout:fragment="content">
    <div id="cart" style="min-height: 400px;">
        <h3 class="display-4 text-center">Giỏ Hàng</h3>
        <div th:if="${session.containsKey('cart')}">
            <div th:unless="${session.cart.size()}">
                <p class="alert alert-warning">Giỏ Hàng Trống!</p>
            </div>
            <div th:if="${session.cart.size()}">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th scope="col">Sản Phẩm</th>
                        <th scope="col">Tên Sản Phẩm</th>
                        <th scope="col">Số Lượng</th>
                        <th scope="col">Giá Tiền</th>
                        <th scope="col" class="text-center">Xóa</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="item : ${session.cart}">
                        <th style="width: 120px;height: 100px;">
                            <img class="img-fluid" th:src="@{'/images/' + ${item.getProduct().getImagePath()}}" alt="">
                        </th>
                        <td><label th:text="${item.getProduct().getName()}"></label></td>
                        <td><label th:text="${item.getQuantity()}"></label></td>
                        <td><label
                                th:text="${#numbers.formatDecimal(item.getProduct().getPrice() * item.getQuantity(),0,'COMMA',0,'POINT') + ' VNĐ'}"></label>
                        </td>
                        <td class="text-center">
                            <a th:href="@{'/cart/remove/' + ${item.getProduct().getId() }}"
                               onclick="return confirm('Bạn có muốn xóa?')" class="btn btn-outline-dark">
                                <i class="fa fa-trash-o" aria-hidden="true"></i>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <th colspan="4" class="text-right">
                            <label>Tổng tiền: </label>
                        </th>
                        <td>
                            <label class="text-danger font-weight-bold" th:text="${#numbers.formatDecimal(total,0,'COMMA',0,'POINT') + ' VNĐ'}"></label>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="5">
                            <textarea class="form-control" placeholder="Ghi chú ..." rows="3"></textarea>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
<!--            end kiểm tra giỏ -->
        </div>

<!--        begin button tiếp tục mua hàng or đặt hàng-->
        <div class="container-fluid pb-4">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <a th:href="@{/}" class="btn btn-success text-left">Tiếp tục mua hàng</a>
                    <a href="#" class="btn btn-danger text-right">Đặt hàng</a>
                </div>

            </div>
        </div>
<!--        end button tiếp tục mua hàng or đặt hàng-->

    </div>
</div>
</body>
</html>